/* Default */
.parent {
    -fx-background-color: #ffffff;
}

.jfx-button {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.jfx-text-field {
    -jfx-focus-color: #0095d9;
}

.jfx-combo-box {
    -jfx-focus-color: #0095d9;
}

.jfx-list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.jfx-list-cell:focused {
    -fx-background-color: transparent;
    -fx-text-fill: #0095d9;
}

.jfx-list-cell:selected {
    -fx-background-color: #0095d9;
    -fx-text-fill: #ffffff;
}

.online-user-label {
    -fx-text-fill: #ffffff;
}


/* General */
.lightBlueBtn {
    -jfx-button-type: RAISED;
    -fx-background-color: #0095d9;
    -fx-text-fill: #ffffff;
}

.darkBlueBtn {
    -jfx-button-type: RAISED;
    -fx-background-color: #333645;
    -fx-text-fill: #ffffff;
}

.roundBtn {
    -fx-background-radius: 500;
    -fx-background-color: #0095d9;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}


/* Login Panel */
.titlebar {
    -fx-background-color: #333645;
}

.textBtn {
    -fx-background-color: transparent;
    -fx-foreground-color: #000000;
}

.textBtn:hover {
    -fx-underline: true;
}


/* Student/Teacher Panels */
.banner {
    -fx-background-color: #dadada;
}

.sidebar {
    -fx-background-color: #333645;
}

.sidebarBtn {
    -fx-background-radius: 0;
    -fx-padding: 15 15 15 30;
    
    -fx-background-color: #333645;
    -fx-text-fill: #ffffff;
    -fx-alignment: center-left;
    -fx-font-size: 16 px;
}




.table-view {
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border;
    -fx-background-color: transparent;
}

.table-view .filler, .table-view .column-header
{
    -fx-size: 40;
    -fx-border-style: null;
    -fx-border-color: rgb(200.0, 200.0, 200.0);
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .column-header .label,
.table-view .column-drag-header .label
{
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-cell-size: 30px;
}

.table-cell {
    -fx-border-color: transparent; 
    -fx-border-width: 1;
}